<!doctype html>
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/style.css")
        title Add Product

    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
            .container
                a(href="/").navbar-brand Shopping
                ul.navbar-nav.ml-auto
                    .li.nav-item
                        a(href="").nav-link Login

                    .li.nav-item
                        a(href="").nav-link Register


        .container.pt-100
            .row
                .col-lg-3
                    .list-group
                        a(href="").list-group-item Kalem
                        a(href="").list-group-item Kağıt
                        a(href="").list-group-item Silgi

                .col-lg-9
                    h1 Error Page
            script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js")
            script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js")
            script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js")
